@charset "UTF-8";
@font-face {
	font-family: "Font Titre";
	/*src: url("../font/Sweet Sensations Personal Use.ttf");*/
}

#test_bs{
    background-color:blue;
    height : 100px;
}


body{
    font-family : "Baskerville Old Face", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    background-color: rgba(194, 205, 233, 0.541);
}

ul{
    list-style-type: none;
}

a{
    text-decoration : none;
    color : black;
}

a:hover{
    color : white;
    text-decoration : none;
}

.flex_spaceb{
    display : flex;
    justify-content: space-between;
}

.flex_column{
    display : flex;
    flex-direction: column;
}

.souligne{
    text-decoration : underline;
}

.no_marg_pad{
    padding : 0px;
    margin : 0px;
}

.centre_text{
    text-align : center;
    margin : auto;
}

.block{
    display : block;
}

em{
    font-style : normal;
    color : rgb(4, 138, 55);
}

.shadowbox{

    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.6);
}

/*------------------------------HEADER--------------------------------------------*/
#cadre_accueil{
    height : 100%;
    
    
}

header{
    display : flex;
    flex-wrap : wrap;
    height : 144px;
    width : 100%;  
    position : absolute;
    /*background: url("../asset/bkg2.jpg");
    background-attachment: fixed;
    background-size : 100%;  */
    z-index: 10;
    background-color :rgba(0, 0, 0, 0.8);  
}

#logo{
    height : 60%;
    padding-top : 10px;

    
}

h1{
   
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: "Font Titre", "Baskerville Old Face";
    padding-top : 25px;
    margin-left : 20px;
    color : rgb(61, 121, 43);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    width : 60%;
}


#navsite{
    width:100%;
}

#navsite ul {
    display : flex;
    margin: 0px;
    padding : 0;
    padding-left :10px;
    height : 50px;
    line-height: 50px; /* hauteur de ligne (identique) */
    white-space: nowrap; /* interdiction de passer à la ligne */
    border-radius : 0px;
    background-color :rgb(35, 126, 80); 
    z-index:100;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
}


#navsite ul li a{
    display : inline-block;
    padding-right : 15px;
    padding-left : 15px;
    font-size : 1.3em;
    color : rgb(207, 207, 207);
    margin: 0;
    text-shadow: 1px 2px rgba(0, 0, 0, 1);
    position: relative;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.degrade {
    font-size: 55px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(9, 255, 0)), to(rgb(255, 255, 255)));
   /* background: -webkit-gradient(linear, left top, left bottom, from(rgb(24, 18, 18)), to(rgb(255, 255, 255)));*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navsite ul li a:hover{
    color: white;
    
    /*text-shadow: 0px 0px rgb(0, 0, 0);
    transition-property: text-shadow;
    transition-duration: 0.5s;
    transition-timing-fonction: linear;*/
}

.nav_onscreenb{
    background-color: rgba(0, 0, 0, 0.4);
}

.nav_onscreent{
    color : white;
}



/*------------------------------ MAIN --------------------------------------------*/
/*------------------------SLIDER-----------------------*/
#slider_accueil{
    margin : auto;
    width : 100%;
    height : 100%;
}

.overflow{
    
    height : 700px;
    overflow:hidden;
    text-align : center;
    vertical-align : middle;
}

.overflow_h{
    overflow : hidden;
}

.position_image{
    position : absolute;
}

.bkposition{
    position : absolute;
    top:-100px;
}

#slider_accueil h5 span{
   /* background-color: rgba(0, 0, 0, 0.5);*/
   
    font-size : 5vw;
    padding : 5px;
    border-radius: 2px;
    position : relative;
    font-family: "Font Titre", "Baskerville Old Face";
    
    animation-name: example;
    animation-duration: 8s;
}

@keyframes example {
    from {color: rgba(255, 255, 255, 0);
        text-shadow: 4px 2px rgba(0, 0, 0, 0);}
    to {color: rgba(255, 255, 255, 1);
        text-shadow: 3px 2px rgba(0, 0, 0, 1);}
}

#slider_accueil .caption1_slide1
{
    position : relative;
    left:-250px;
    top: -350px;
}

#slider_accueil .caption1_slide2
{
    position : relative;
    left:-00px;
    top: -30px;
}

#slider_accueil .caption2_slide2
{
    position : relative;
    top: -30px;
    left : -00px;
    animation-duration: 8s;
}

#slider_accueil .caption1_slide3
{
    position : relative;
    left : -0px;
    top : -300px;
    font-size : 6vw;
}




/*------------------------ACTU-----------------------*/
#actu_accueil{
    margin : auto;
    margin-top : 100px;
    width : 100%;
    vertical-align: center;
    font-size : 1.8vw;
    background-color: white;
    padding : 0;
}

h3{
    height : 150px;
    padding-top : 50px;
    font-size : 2em;
}


.actu_macaron{
    border : solid 1px black;
}

.border{
    border : solid 1px  black;
}
/*
#actu_accueil ul{
    border: solid 1px  black;
}



#actu_accueil li{
}

#actu_accueil a{
    display : block;
    display : flex;
    justify-content: space-between;
    height : 300px;
    width : 100%;
    background-color :white;  
}

#actu_accueil a:hover{
    background-color :rgba(0, 0, 0, 0.3);  
    border : solid 1px white;
}


.content{
    display: table-cell;
    vertical-align: middle;
    margin-left : 10px;
}

#actu_accueil a div{
    height : 100%;
    width : 50%;
}

#actu_accueil a img{
    width : 100%;
    opacity : 0.9;
}

#actu_accueil ul a:hover img{
    opacity : 1;
}

.date{
    color : gray;
    font-size : 0.8em;
}

#image_actu{
    width : 200px;
    height : 200px;
    background-color : white;
    border : solid 1px black;
    border-left : solid 2px black;
}*/

/*------------------------ASTUCE-----------------------*/

/*------------------------------ FOOTER --------------------------------------------*/

footer{
    width : 100%;
    display : flex;
    border-top : solid 1px black;
    margin-top : 150px;
    background-color: rgba(0, 0, 0, 0.8);
    color : white;
    
}

footer ul{
    width : 500px;
    margin : auto;
}

footer img{
    width : 50px;
    height : 50px;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

